*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{

	min-height: 3m;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #0ca3aa;
}
a {
  text-decoration: none;
  margin: 10px;
  color: #32f1ea;
}

a:hover {
  color: white;
}
header{
	width:100%;
min-height:3em;
	
}
header{
	position:fixed;
	top:0;
	
}
html:not([data-scroll='0']){
	padding-top: 7em;
}
html:not([data-scroll='0']) header{
	position: fixed;
}

.nav-list {
  background-color: black;
  margin: 0;
  height: 100px;
  padding: 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  overflow: auto;
}

.logo {
width: 200px;
height: 75px;

}
.nav-item:first-child {
  margin-right: auto;
  margin-left: 30px;
}

.nav-item:last-child {
  margin-right: 25px;
  margin-bottom: 2px;
}

.add-film-button {
  margin-left: 10px;
  background-color: #0ca3aa;
  color: black;
  border-radius: 15px;
  width: 110px;
  height: 30px;
  border-style: none;


}
.add-film-button:hover {
  background-color: #32f1ea;
  color: black;
}

.filmbyid {
	top: 200px;
	color: white;
	
}

div {
	text-align: center;
	padding: 30px;
	margin: 20px;
}


